# CODESYS compiled files
*.compiled
*.compileinfo
*.library

# Backup files
*.bak
*~

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Temporary files
*.tmp
*.temp

# Credentials (important!)
CSV-MQTT/hivemq/credentials

# Library folder (CODESYS libraries catalog)
CSV-MQTT/lib/

# User-specific settings
*.suo
*.user
