# CODESYS compiled files
*.compiled
*.compileinfo
*.library

# Backup files
*.bak
*~

# OS files
Thumbs.db
.DS_Store
desktop.ini

# Temporary files
*.tmp
*.temp

# Credentials (important!)
CSV-MQTT/hivemq/credentials

# Library folder (CODESYS libraries catalog)
# Exclude entire lib folder except INDEX.md
CSV-MQTT/lib/*
!CSV-MQTT/lib/INDEX.md

# User-specific settings
*.suo
*.user
